<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Mark-it">
  <ion-content class="padding detail">
    <img ng-src="{{currentCard.LargeImage[0].URL[0]}}">
    <div class="containDetail">
      <p>
        {{currentCard.ItemAttributes[0].Title[0]}}
      </p>
      <p>{{currentCard.EditorialReviews[0].EditorialReview[0].Content[0]}}</p>
    </div>

  </ion-content>
</ion-view>
